.sliderContainer {
    margin: 0 auto;
    overflow: hidden;
    cursor: grab;
}

.slider {
    display: flex;
}

.item {
    min-height: 40rem;
    min-width: 30rem;
    padding: 2rem;
}

.item img {
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.item:hover > img {
    transform: scale(1.1);
    opacity: 0.9;
}